/*=============== 
  Font import
==============*/
@font-face {
  font-family: IBMPlexSans;
  src: url('../fonts/IBMPlexSans-ExtraLight.eot');
  src: url('../fonts/IBMPlexSans-ExtraLight.eot') format('embedded-opentype'),
    url('../fonts/IBMPlexSans-ExtraLight.woff') format('woff'),
    url('../fonts/IBMPlexSans-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  src: url('../fonts/IBMPlexSans-Light.eot');
  src: url('../fonts/IBMPlexSans-Light.eot') format('embedded-opentype'),
    url('../fonts/IBMPlexSans-Light.woff') format('woff'),
    url('../fonts/IBMPlexSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  src: url('../fonts/IBMPlexSans.eot');
  src: url('../fonts/IBMPlexSans.eot') format('embedded-opentype'),
    url('../fonts/IBMPlexSans.woff') format('woff'),
    url('../fonts/IBMPlexSans.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  src: url('../fonts/IBMPlexSans-Medium.eot');
  src: url('../fonts/IBMPlexSans-Medium.eot') format('embedded-opentype'),
    url('../fonts/IBMPlexSans-Medium.woff') format('woff'),
    url('../fonts/IBMPlexSans-Medium.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  src: url('../fonts/IBMPlexSans-SemiBold.eot');
  src: url('../fonts/IBMPlexSans-SemiBold.eot') format('embedded-opentype'),
    url('../fonts/IBMPlexSans-SemiBold.woff') format('woff'),
    url('../fonts/IBMPlexSans-SemiBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  src: url('../fonts/IBMPlexSans-Bold.eot');
  src: url('../fonts/IBMPlexSans-Bold.eot') format('embedded-opentype'),
    url('../fonts/IBMPlexSans-Bold.woff') format('woff'),
    url('../fonts/IBMPlexSans-Bold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}


/*=============== 
  General*
==============*/
body {
  background: #fafbfe;
  font-family: IBMPlexSans;
}

:root {
  --primary: #FED430;
  --secondary: #1DBF69;
}

.text-underline--dashed {
  border-bottom: 1px dashed !important;
}

a {
  outline: 0;
  transition: all .2s ease;
  text-decoration: none !important;
  background-color: transparent;
  color: var(--secondary);
}

/*==========
form control 
============*/
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 1.5rem + 2px);
  padding: .75rem 1.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4a5568;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e2e8f0;
  border-radius: .375rem;
  box-shadow: none;
  transition: all .2s ease;
}

.form-control:focus {
  color: #4a5568;
  background-color: #fff;
  border-color: rgba(0, 138, 255, .5);
  outline: 0;
}

.form-control:-ms-input-placeholder {
  color: #A0AEC0;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #A0AEC0;
  opacity: 1;
}

.form-control::placeholder {
  color: #A0AEC0;
  opacity: 1;
}

/* =======
buttons 
=========*/
.btn-primary {
  background: var(--primary);
  border-color: var(--primary);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  border-color: var(--secondary);
  background: var(--secondary);
  outline: 0;
  box-shadow: none;
}

.btn-submit {
  border-color: var(--deepgrey);
}
