:root {
  --primary: #FED430;
  --secondary: #1DBF69;
  --danger: hsl(0, 100%, 50%);
  --body-bg: #fafbfe;
  --font-color: #151516;
  --card-bg: #ffffff;
  --bg-dark: #253649;
  --nav-bg: #f8f9fa;
  --nav-link: #00000080;
  --card-border: #eff2f7;
  --bg-white: #fff;
  --text-muted: #6c757d;
  --bg-grey: #ddd;
  --skeleton-loading: #ffffff33;
}

.dark-mode {
  --body-bg: #1f2d3d;
  --font-color: #fff;
  --nav-bg: #f8f9fa;
  --nav-bg: #253649;
  --bg-white: #253649;
  --text-dark: #fff;
  --nav-link: #fff;
  --card-border: #253649;
  --card-bg: #253649;
  --text-muted: #d9d9d994;
}

/*=============== 
  Font import
==============*/
@font-face {
  font-family: IBMPlexSans;
  src: url('../fonts/IBMPlexSans-ExtraLight.eot');
  src: url('../fonts/IBMPlexSans-ExtraLight.eot') format('embedded-opentype'),
    url('../fonts/IBMPlexSans-ExtraLight.woff') format('woff'),
    url('../fonts/IBMPlexSans-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  src: url('../fonts/IBMPlexSans-Light.eot');
  src: url('../fonts/IBMPlexSans-Light.eot') format('embedded-opentype'),
    url('../fonts/IBMPlexSans-Light.woff') format('woff'),
    url('../fonts/IBMPlexSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  src: url('../fonts/IBMPlexSans.eot');
  src: url('../fonts/IBMPlexSans.eot') format('embedded-opentype'),
    url('../fonts/IBMPlexSans.woff') format('woff'),
    url('../fonts/IBMPlexSans.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  src: url('../fonts/IBMPlexSans-Medium.eot');
  src: url('../fonts/IBMPlexSans-Medium.eot') format('embedded-opentype'),
    url('../fonts/IBMPlexSans-Medium.woff') format('woff'),
    url('../fonts/IBMPlexSans-Medium.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  src: url('../fonts/IBMPlexSans-SemiBold.eot');
  src: url('../fonts/IBMPlexSans-SemiBold.eot') format('embedded-opentype'),
    url('../fonts/IBMPlexSans-SemiBold.woff') format('woff'),
    url('../fonts/IBMPlexSans-SemiBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  src: url('../fonts/IBMPlexSans-Bold.eot');
  src: url('../fonts/IBMPlexSans-Bold.eot') format('embedded-opentype'),
    url('../fonts/IBMPlexSans-Bold.woff') format('woff'),
    url('../fonts/IBMPlexSans-Bold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}


/*=============== 
  General*
==============*/
body {
  background: var(--body-bg);
  font-family: IBMPlexSans;
  color: var(--font-color);
  box-sizing: border-box;
  overflow-x: hidden;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .66667rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.5;
  color: var(--font-color);
}

p {
  color: var(--font-color);
}

.text-dark {
  color: var(--font-color) !important;
}

.text-underline--dashed {
  border-bottom: 1px dashed !important;
}

a {
  outline: 0;
  transition: all .2s ease;
  text-decoration: none !important;
  background-color: transparent;
  color: var(--secondary);
}

a.active,
a:hover,
a:focus,
a.focus-within {
  color: var(--secondary) !important;
}

.shadow {
  box-shadow: 0 0 1.25rem rgba(31, 45, 61, .05) !important;
}

.shadow-primary {
  box-shadow: 0 .5rem 1rem rgba(0, 138, 255, .4) !important;
}

.shadow-warning {
  box-shadow: 0 .5rem 1rem rgba(255, 190, 61, .4) !important;
}

.shadow-success {
  box-shadow: 0 .5rem 1rem rgba(92, 201, 167, .4) !important;
}

.shadow-danger {
  box-shadow: 0 .5rem 1rem rgba(242, 87, 103, .4) !important;
}

.text-sm {
  font-size: .875rem !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: 0 !important;
  border-right: 0 !important;
  border-bottom: 0;
  border-left: 0 !important;
  display: none !important;
}

.logOut__link {
  background-color: #fafbfe !important;
  color: #333 !important;
}

.text-danger {
  color: var(--danger) !important;
}

.text-secondary {
  color: var(--secondary) !important;
}

.bg-white {
  background: var(--bg-white) !important;
}

/*====================== 
main navigation 
=====================*/
.main-nav {
  background: var(--nav-bg) !important;
}

.main-nav .nav-link {
  color: var(--nav-link) !important;
}

/*============
cards 
==============*/
.card {
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 0 1.25rem rgba(31, 45, 61, .05);
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eff2f7;
  border-radius: .75rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.75rem;
  color: #718096;
}

/*===============
background and text
==================*/
.bg-success {
  background: var(--secondary) !important;
}

.bg-warning {
  background: var(--primary) !important;
}

.text-danger {
  color: var(--danger) !important;
}

.text-success {
  color: var(--secondary) !important;
}

.bg-dark {
  background: #151516 !important;
}

.text-muted {
  color: var(--text-muted) !important;
}

/*==========
form control 
============*/
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 1.5rem + 2px);
  padding: .75rem 1.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4a5568;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e2e8f0;
  border-radius: .375rem;
  box-shadow: none;
  transition: all .2s ease;
}

.form-control:focus {
  color: #4a5568;
  background-color: #fff;
  border-color: rgba(0, 138, 255, .5);
  outline: 0;
  box-shadow: none;
}

.form-control:-ms-input-placeholder {
  color: #A0AEC0;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #A0AEC0;
  opacity: 1;
}

.form-control::placeholder {
  color: #A0AEC0;
  opacity: 1;
}

.error {
  color: #ff0000;
  font-size: 13px;
}

.nuxt-link-exact-active {
  color: var(--secondary) !important;
}

p.user--name,
small.user--email {
  width: 95%;
  text-align: right;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  text-decoration: none;
}

/* =======
buttons 
=========*/
.btn-primary {
  background: var(--primary);
  border-color: var(--primary);
  color: #151516 !important;
}

.btn-primary:disabled {
  color: #fff;
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-secondary {
  border-color: var(--secondary) !important;
  background: var(--secondary) !important;
  outline: 0 !important;
  box-shadow: none !important;
  color: #fff !important;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:focus-within {
  color: #fff !important
}

.btn-light {
  color: #212529;
  background-color: #dae0e5 !important;
  border-color: #d3d9df !important;
}

.badge-success {
  background: var(--secondary) !important;
  border-color: var(--secondary) !important;
}

/*==========================
pagination component 
=========================*/
.pagination {
  display: flex;
  align-items: center !important;
}

.pagination li {
  margin: 0 5px;
  position: relative;
  display: block;
  padding: 0;
  margin-left: -1px;
  line-height: 1.25;
  color: var(--text-dark);
  background-color: var(--bg-white);
  border: 1px solid var(--card-border);
  max-width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination li.disabled:active a {
  color: #333 !important;
}

.pagination li a {
  padding: 0.5rem 0.75rem;
}

.pagination li:hover,
.pagination .page-link.active {
  color: #333;
  background-color: var(--secondary);
  transition: 0.3s ease-in-out all;
}

.pagination li:hover a,
.pagination li:focus a,
.pagination li:active a {
  color: #fff !important;
}

.pagination li:active {
  background: var(--secondary) !important;
}

.pagination li.page-link a:focus,
.pagination li.page-link a:active {
  color: #fff !important;
}

.pagination li.active a,
.pagination li.active a:focus,
.pagination li.active a:active,
.pagination li.active a:hover {
  color: #fff !important;
  background: var(--secondary);
}

/* ==================
page transitions 
=====================*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/*===============
  dropdown 
==============*/
.dropdown-menu {
  max-width: 200px
}

p.dropdown-item:focus,
p.dropdown-item:hover,
small.dropdown-item:focus,
small.dropdown-item:hover {
  color: #151516;
  text-decoration: none;
  background-color: transparent !important;
}

.dropdown-menu .dropdown-hover:hover,
.dropdown-menu .dropdown-hover:active,
.dropdown-menu .dropdown-hover:focus,
.dropdown-menu .dropdown-hover:focus-within {
  color: var(--secondary) !important;
}

.dropdown-menu a.dropdown-hover.nuxt-link-exact-active {
  color: var(--secondary) !important;
}

/* =================
skeletal loader  
====================*/
.bg-grey {
  background: var(--bg-grey) !important;
}

.loading {
  position: relative;
  background-color: #E2E2E2;
}

.loading::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-30%);
  background: linear-gradient(90deg, transparent, var(--skeleton-loading), transparent);
  animation: loading 1.5s infinite;
}

@keyframes loading {
  100% {
    transform: translateX(30%);
  }
}
